/* stylelint-disable */

.g-burger {
  --burger-width: 20px;
  --burger-height: 16px;
  --burger-line-height: 2px;

  position: relative;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--color-white);

  @media (max-width: 1200px) {
    margin-right: 30px;
  }

  @media (max-width: 576px) {
    margin-right: 20px;
  }

  @media (min-width: 1201px) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - var(--burger-line-height));
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out;
  }

  &--active {
    color: var(--color-dark);

    &::before {
      top: 50%;
      transform: rotate(45deg);
    }

    &::after {
      top: 50%;
      transform: rotate(-45deg);
    }

    .g-burger__line {
      opacity: 0;
    }
  }
}