.g-burger {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  color: var(--header-color);

  @media (min-width: 1201px) {
    display: none;
  }

  &.burger--active {
    svg {
      display: none;
    }

    &:before {
      display: block;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    display: none;
    background-image: url(../img/svg/cross.svg);
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: currentColor;
    object-fit: cover;
  }
}