.about {
  &__container {
    padding-bottom: 150px;

    @media (max-width: 1024px) {
      padding-bottom: 120px;
    }

    @media (max-width: 576px) {
      padding-bottom: 80px;
    }
  }

  &__about-section {
    .about-section {
      &__container {
        padding-top: 150px;
        padding-bottom: 150px;

        @media (max-width: 1024px) {
          padding-top: 120px;
          padding-bottom: 120px;
        }

        @media (max-width: 576px) {
          padding-top: 50px;
          padding-bottom: 50px;
        }
      }

      &__top {
        margin-bottom: 87px;

        @media (max-width: 1024px) {
          margin-bottom: 100px;
        }

        @media (max-width: 576px) {
          margin-bottom: 50px;
        }
      }
    }
  }
}