.modal {
  --transition-time: 0.3s;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-time), visibility var(--transition-time);

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  &__title {
    font-size: 28px;
    line-height: 36.4px;
    margin-bottom: 10px;

    @media (max-width: 576px) {
      font-size: 18px;
      line-height: 23.4px;
    }
  }

  &__desc {
    margin: 0;
    font-size: 16px;
    line-height: 22.4px;
    margin-bottom: 20px;

    @media (max-width: 576px) {
      font-size: 14px;
      line-height: 19.6px;
    }
  }

  &__container {
    position: relative;
    width: 500px;
    margin: 50px auto;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    padding: 40px 50px;
    cursor: default;
    text-align: left;
    display: none;

    @media (max-width: 576px) {
      width: 90%;
      padding: 25px 30px;
    }

    &--thank {
      padding-top: 205px;

      @media (max-width: 576px) {
        padding-top: 147px;

        .modal__close {
          width: 19px;
          height: 19px;
          top: 46px;
          right: 50px;
        }
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 155px;
        pointer-events: none;
        background-image: url("data:image/svg+xml,%3Csvg width='500' height='155' viewBox='0 0 500 155' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_409_5533)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M103.141 103.376H51.57V154.946L103.141 103.376Z' fill='%231E592D'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M154.711 51.8054H103.14V103.376L154.711 51.8054Z' fill='%231F733A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M154.727 51.8054L206.297 103.376V51.8054H154.727Z' fill='%231F733A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M257.867 51.8054H206.297V103.376L257.867 51.8054Z' fill='%2328A74A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M257.867 51.8055V0.235474H206.297L257.867 51.8055Z' fill='%231F733A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M103.157 51.8055H154.727V0.235474L103.157 51.8055Z' fill='%231F733A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M206.297 51.8055L154.727 0.235474V51.8055H206.297Z' fill='%231E9848'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M154.727 0.214874H206.297V-51.3557L154.727 0.214874Z' fill='%231E9848'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M206.297 -51.3557V0.214874H257.867L206.297 -51.3557Z' fill='%231E592D'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M309.438 0.235474H257.867V51.8055L309.438 0.235474Z' fill='%231E9848'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M361.008 51.8055V0.235474H309.437L361.008 51.8055Z' fill='%2358B847'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M361.008 51.8055L412.578 0.235474H361.008V51.8055Z' fill='%231F733A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M464.149 -51.3557L412.578 0.214874H464.149V-51.3557Z' fill='%231E592D'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M309.438 0.214874L257.867 -51.3557V0.214874H309.438Z' fill='%2358B847'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M51.5701 103.376H103.14V51.8054L51.5701 103.376Z' fill='%231E592D'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M103.14 51.8054H51.5701V103.376L103.14 51.8054Z' fill='%231F733A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M361.008 -51.3557V0.214874H412.578L361.008 -51.3557Z' fill='%231E9848'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M361.008 0.214874V-51.3557H309.437L361.008 0.214874Z' fill='%231E9848'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M51.5701 0.235474V51.8055H103.14L51.5701 0.235474Z' fill='%23229547'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M51.5701 -51.3557V0.214874H103.14L51.5701 -51.3557Z' fill='%23229547'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M103.14 51.8055V0.235474H51.5701L103.14 51.8055Z' fill='%2358B847'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M154.727 -51.3557H103.157V0.214874L154.727 -51.3557Z' fill='%2358B847'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M206.297 -51.3557L257.867 0.214874V-51.3557H206.297Z' fill='%2358B847'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.8147e-05 103.376L51.5701 154.946V103.376H3.8147e-05Z' fill='%2345B549'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M51.5701 51.8054L3.8147e-05 103.376H51.5701V51.8054Z' fill='%231E9848'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.8147e-05 103.376L51.5701 51.8054H3.8147e-05V103.376Z' fill='%2345B549'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.8147e-05 0.235474L51.5701 51.8055V0.235474H3.8147e-05Z' fill='%231E9848'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M51.5701 -51.3557H3.8147e-05V0.214874L51.5701 -51.3557Z' fill='%231E592D'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.8147e-05 0.214874H51.5701V-51.3557L3.8147e-05 0.214874Z' fill='%231F733A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_409_5533'%3E%3Crect width='500' height='155' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-size: cover;
        background-repeat: no-repeat;

        @media (max-width: 576px) {
          height: 116px;
        }
      }
    }
  }

  &__close {
    position: absolute;
    display: block;
    right: 50px;
    top: 46px;
    width: 24px;
    height: 24px;
    transition: transform 0.3s;

    @media (max-width: 576px) {
      top: 25px;
      right: 30px;
    }

    &:hover {
      transform: rotate(90deg);
    }

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__btn {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  &-form {
    display: grid;
    row-gap: 20px;

    &__input {
      width: 100%;
    }

    &__desc {
      position: relative;
      margin: 0;
      max-width: 330px;
      font-size: 12px;
      line-height: 16.8px;
      color: var(--color-gray);

      @media (max-width: 576px) {
        max-width: 100%;
      }

      a {
        color: currentColor;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }

    &__checkbox {
      margin-right: 10px;
    }

    &__policy {
      display: flex;
      margin-top: 20px;
    }
  }
}

.modal.is-open {
  opacity: 1;
  visibility: visible;
  transition: opacity var(--transition-time), visibility var(--transition-time);
}

.modal__container.modal-open {
  display: inline-block;
  opacity: 1;
}

.fade {
  opacity: 0;
  transition: opacity var(--transition-time);
}

.fade.animate-open {
  opacity: 1;
  transition: opacity var(--transition-time);
}