.nav {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 112px;

    &--dropdown {
      position: relative;

      &:hover {

        svg {
          transform: rotate(-180deg);
        }

        .nav-dropdown {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &:not(:last-child) {
      margin-right: 60px;

      @media (max-width: 1365px) {
        margin-right: 50px;
      }
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 22.4px;
    text-transform: uppercase;
    color: var(--header-color);
    transition: opacity 0.3s, color 0.3s;

    svg {
      display: block;
      width: 16px;
      height: 16px;
      margin-left: 10px;
      fill: currentColor;
      transition: transform 0.3s;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &-dropdown {
    position: absolute;
    z-index: 2;
    top: -1px;
    transform: translateY(112px);
    left: 0;
    min-width: 300px;
    opacity: 0;
    visibility: hidden;
    background-color: var(--color-white);
    padding: 20px 30px;
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;

    &--sm {
      min-width: 210px;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__link {
      color: var(--color-text);
      display: inline-block;
      font-size: 16px;
      line-height: 22.4px;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}


.header--fixed {
  .nav-dropdown {
    transform: translateY(92px);
  }
}