.video {
  position: relative;
  --color-lines: #f5f5f5;

  &__container {
    padding-top: 150px;
    padding-bottom: 150px;

    @media (max-width: 1024px) {
      padding-top: 120px;
      padding-bottom: 120px;
    }

    @media (max-width: 576px) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }

  &__player {
    position: relative;
    width: 100%;
    height: 100%;
  }
}