<section class="about-section section fp-auto-height">
  @include('./lines.html')
  <div class="container about-section__container">
    <div class="about-section__top">
      <h2 class="g-title g-title--lg about-section__title">
        Работаем на рынке лесопромышленности <span>с 2005 года</span>
      </h2>
      <div class="about-section__right">
        <div class="about-section__desc">
          <p>SHELON — динамично развивающийся лесопромышленный комплекс, который включает в себя интегрированные современные предприятия, дополняющие друг друга и обеспечивающие полный цикл лесопереработки.</p>
          <p>Предприятия лесопромышленного комплекса SHELON внедряют модель интенсивного лесопользования с замещением лиственных пород деревьев более ценными —  хвойными, что улучшает породный и качественный состав лесного фонда.</p>
        </div>
        <a href="about.html" class="g-link about-section__link">
          О компании
          <svg>
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>
    <ul class="list-reset about-list about-section__list">
      <li class="about-list__item">
        <span class="g-title g-title--md g-title--shape about-list__title">
          <b>150</b> тыс. м<sup>3</sup>
        </span>
        <p class="about-list__desc">Годовая мощность по лесопилению</p>
      </li>
      <li class="about-list__item">
        <span class="g-title g-title--md g-title--shape about-list__title">
          <b>100</b> %
        </span>
        <p class="about-list__desc">Освоение выделенного лесного фонда</p>
      </li>
      <li class="about-list__item">
        <span class="g-title g-title--md g-title--shape about-list__title">
          до <b>5</b> млн.
        </span>
        <p class="about-list__desc">Растений высаживается в год</p>
      </li>
      <li class="about-list__item">
        <span class="g-title g-title--md g-title--shape about-list__title">
          <b>1200</b> тонн
        </span>
        <p class="about-list__desc">Изделий из ДПК производится в год</p>
      </li>
    </ul>
  </div>
</section>