<section class="benefits">
  @include('./lines.html')
  <div class="container benefits__container benefits__container--2">
    <h2 class="visually-hidden">Наши преимущества</h2>
    <ul class="list-reset benefits-list benefits-list--grid">
      <li class="benefits-item benefits-list__item">
        <svg class="benefits-item__icon">
          <use xlink:href="img/sprite.svg#benefit-5"></use>
        </svg>
        <div class="benefits-item__text">
          <h3 class="benefits-item__title">Возможность участвовать в интересных проектах</h3>
          <p class="benefits-item__desc">SHELON реализует самые передовые, инновационные и масштабные проекты в различных направлениях. </p>
        </div>
      </li>
      <li class="benefits-item benefits-list__item">
        <svg class="benefits-item__icon">
          <use xlink:href="img/sprite.svg#benefit-6"></use>
        </svg>
        <div class="benefits-item__text">
          <h3 class="benefits-item__title">Карьерный рост и профессиональное развитие</h3>
          <p class="benefits-item__desc">Наша компания активно развивается, появляются новые перспективные проекты. Сотрудники имеют возможность расти внутри компании, занимать вышестоящие должности или осваивать новые интересные для себя направления деятельности</p>
        </div>
      </li>
      <li class="benefits-item benefits-list__item">
        <svg class="benefits-item__icon">
          <use xlink:href="img/sprite.svg#benefit-7"></use>
        </svg>
        <div class="benefits-item__text">
          <h3 class="benefits-item__title">Корпоративная жизнь</h3>
          <p class="benefits-item__desc">У нас богатая корпоративная жизнь: все сотрудники могут принимать участие в праздничных корпоративных мероприятиях, спортивных тренировках и турнирах, участвовать в творческих конкурсах и других инициативах.</p>
        </div>
      </li>
      <li class="benefits-item benefits-list__item">
        <svg class="benefits-item__icon">
          <use xlink:href="img/sprite.svg#benefit-8"></use>
        </svg>
        <div class="benefits-item__text">
          <h3 class="benefits-item__title">Обучение</h3>
          <p class="benefits-item__desc">SHELON реализует самые передовые, инновационные и масштабные проекты в различных направлениях. </p>
        </div>
      </li>
      <li class="benefits-item benefits-list__item">
        <svg class="benefits-item__icon">
          <use xlink:href="img/sprite.svg#benefit-9"></use>
        </svg>
        <div class="benefits-item__text">
          <h3 class="benefits-item__title">Стабильный доход и материальное стимулирование</h3>
          <p class="benefits-item__desc">Наша компания активно развивается, появляются новые перспективные проекты. Сотрудники имеют возможность расти внутри компании, занимать вышестоящие должности или осваивать новые интересные для себя направления деятельности</p>
        </div>
      </li>
      <li class="benefits-item benefits-list__item">
        <svg class="benefits-item__icon">
          <use xlink:href="img/sprite.svg#benefit-10"></use>
        </svg>
        <div class="benefits-item__text">
          <h3 class="benefits-item__title">Социальные гарантии</h3>
          <p class="benefits-item__desc">У нас богатая корпоративная жизнь: все сотрудники могут принимать участие в праздничных корпоративных мероприятиях, спортивных тренировках и турнирах, участвовать в творческих конкурсах и других инициативах.</p>
        </div>
      </li>
    </ul>
  </div>
</section>