<section class="benefits">
  @include('./lines.html')
  <div class="container benefits__container">
    <h2 class="g-title g-title--lg benefits__title">Устойчивое развитие</h2>
    <div class="benefits__row">
      <p class="benefits__desc">Мы заботимся об окружающей среде и развиваем экологичное интегрированное производство замкнутого цикла.</p>
      <p class="benefits__desc">Предприятия лесопромышленного комплекса SHELON внедряют модель интенсивного лесопользования с замещением лиственных пород деревьев более ценными —  хвойными, что улучшает породный и качественный состав лесного фонда.</p>
    </div>
    <ul class="list-reset benefits-list">
      <li class="benefits-item benefits-list__item">
        <svg class="benefits-item__icon">
          <use xlink:href="img/sprite.svg#benefit-1"></use>
        </svg>
        <div class="benefits-item__text">
          <h3 class="benefits-item__title">Ответственная лесозаготовка</h3>
          <p class="benefits-item__desc">Мы заботимся об окружающей среде и развиваем экологичное интегрированное производство цикла.</p>
        </div>
      </li>
      <li class="benefits-item benefits-list__item">
        <svg class="benefits-item__icon">
          <use xlink:href="img/sprite.svg#benefit-2"></use>
        </svg>
        <div class="benefits-item__text">
          <h3 class="benefits-item__title">Эффективное лесовосстановление</h3>
          <p class="benefits-item__desc">Безотходное высокотехнологичное производство современных экологичных материалов<br />для строительной и мебельной индустрий.</p>
        </div>
      </li>
      <li class="benefits-item benefits-list__item">
        <svg class="benefits-item__icon">
          <use xlink:href="img/sprite.svg#benefit-3"></use>
        </svg>
        <div class="benefits-item__text">
          <h3 class="benefits-item__title">Безотходное производство</h3>
          <p class="benefits-item__desc">Безотходное высокотехнологичное производство современных экологичных материалов<br />для строительной и мебельной индустрий.</p>
        </div>
      </li>
      <li class="benefits-item benefits-list__item">
        <svg class="benefits-item__icon">
          <use xlink:href="img/sprite.svg#benefit-1"></use>
        </svg>
        <div class="benefits-item__text">
          <h3 class="benefits-item__title">Сертифицированная древесина</h3>
          <p class="benefits-item__desc">Мы используем древесину из сертифицированных российских лесов. Процесс закупок соответствует стандарту FSC® Chain of Custody Certification.</p>
        </div>
      </li>
    </ul>
  </div>
</section>