<section class="contacts">
  <div class="main-hero">
    @include('./lines.html')
    <div class="container main-hero__container">
      <h1 class="g-title g-title--xl g-title--white g-title--shape main-hero__title">Контакты</h1>
      <p class="main-hero__desc">SHELON — динамично развивающийся лесопромышленный комплекс.</p>
    </div>
    <picture>
      <source srcset="img/main-bg.avif" type="image/avif">
      <source srcset="img/main-bg.webp" type="image/webp">
      <img loading="lazy" src="img/main-bg.jpg" class="main-hero__image" alt="Контакты">
    </picture>
  </div>
  <div class="container contacts__container">
    @include('./lines.html')
    <ul class="list-reset g-breadcrumbs">
      <li class="g-breadcrumbs__item">
        <a href="index.html" class="g-breadcrumbs__link">Главная</a>
      </li>
      <li class="g-breadcrumbs__item">
        <a class="g-breadcrumbs__link">Контакты</a>
      </li>
    </ul>

    <div class="contacts__body">
      <div class="contacts-col">
        <h2 class="g-title contacts-col__title">Дирекция</h2>
        <ul class="list-reset contacts-col__list contacts-list">
          <li class="contacts-list__item">
            <a href="mailto:sales@sudomasawmill.com" class="contacts-list__link">
              <svg>
                <use xlink:href="img/sprite.svg#mail"></use>
              </svg>
              sales@sudomasawmill.com
            </a>
          </li>
          <li class="contacts-list__item">
            <a href="mailto:sales@sudomasawmill.com" class="contacts-list__link">
              <svg>
                <use xlink:href="img/sprite.svg#mail"></use>
              </svg>
              sales@sudomasawmill.com
            </a>
          </li>
          <li class="contacts-list__item">
            <a href="tel:78113693233" class="contacts-list__link">
              <svg>
                <use xlink:href="img/sprite.svg#phone"></use>
              </svg>
              +7 (811) 369-32-33
            </a>
          </li>
        </ul>
      </div>
      <div class="contacts-col">
        <h2 class="g-title contacts-col__title">Пресс-служба</h2>
        <ul class="list-reset contacts-col__list contacts-list">
          <li class="contacts-list__item">
            <a href="mailto:press@sudomasawmill.com" class="contacts-list__link">
              <svg>
                <use xlink:href="img/sprite.svg#mail"></use>
              </svg>
              press@sudomasawmill.com
            </a>
          </li>
          <li class="contacts-list__item">
            <a href="tel:78113693233" class="contacts-list__link">
              <svg>
                <use xlink:href="img/sprite.svg#phone"></use>
              </svg>
              +7 (811) 369-32-33
            </a>
          </li>
        </ul>
      </div>
    </div>

    <h2 class="g-title g-title--lg contacts__title">Участники</h2>
    <ul class="list-reset contacts-items">
      <li class="contacts-items__item">
        <h2 class="g-title contacts-col__title">Shelon</h2>
        <ul class="list-reset contacts-col__list contacts-list">
          <li class="contacts-list__item">
            <address class="contacts-list__link contacts-list__link--address">
              <svg>
                <use xlink:href="img/sprite.svg#map-mark"></use>
              </svg>
              182710, Псковская область, Дедовичский район, территория Промплощадка лесозавода, строение 1
            </address>
          </li>
          <li class="contacts-list__item">
            <a href="tel:78113693233" class="contacts-list__link">
              <svg>
                <use xlink:href="img/sprite.svg#phone"></use>
              </svg>
              +7 (811) 369-32-33
            </a>
          </li>
          <li class="contacts-list__item">
            <a href="mailto:commerce@sudomasawmill.com" class="contacts-list__link">
              <svg>
                <use xlink:href="img/sprite.svg#mail"></use>
              </svg>
              commerce@sudomasawmill.com
            </a>
          </li>
          <li class="contacts-list__item">
            <a href="https://site.ru" target="_blank" class="contacts-list__link">
              <svg>
                <use xlink:href="img/sprite.svg#site"></use>
              </svg>
              сайт.ру
            </a>
          </li>
        </ul>
      </li>
      <li class="contacts-items__item">
        <h2 class="g-title contacts-col__title">Экополис</h2>
        <ul class="list-reset contacts-col__list contacts-list">
          <li class="contacts-list__item">
            <address class="contacts-list__link contacts-list__link--address">
              <svg>
                <use xlink:href="img/sprite.svg#map-mark"></use>
              </svg>
              182710, Псковская область, Дедовичский район, территория Промплощадка лесозавода, строение 1
            </address>
          </li>
          <li class="contacts-list__item">
            <a href="tel:78113693233" class="contacts-list__link">
              <svg>
                <use xlink:href="img/sprite.svg#phone"></use>
              </svg>
              +7 (811) 369-32-33
            </a>
          </li>
          <li class="contacts-list__item">
            <a href="mailto:commerce@sudomasawmill.com" class="contacts-list__link">
              <svg>
                <use xlink:href="img/sprite.svg#mail"></use>
              </svg>
              commerce@sudomasawmill.com
            </a>
          </li>
          <li class="contacts-list__item">
            <a href="https://site.ru" target="_blank" class="contacts-list__link">
              <svg>
                <use xlink:href="img/sprite.svg#site"></use>
              </svg>
              сайт.ру
            </a>
          </li>
        </ul>
      </li>
      <li class="contacts-items__item">
        <h2 class="g-title contacts-col__title">Dlk</h2>
        <ul class="list-reset contacts-col__list contacts-list">
          <li class="contacts-list__item">
            <address class="contacts-list__link contacts-list__link--address">
              <svg>
                <use xlink:href="img/sprite.svg#map-mark"></use>
              </svg>
              182710, Псковская область, Дедовичский район, территория Промплощадка лесозавода, строение 1
            </address>
          </li>
          <li class="contacts-list__item">
            <a href="tel:78113693233" class="contacts-list__link">
              <svg>
                <use xlink:href="img/sprite.svg#phone"></use>
              </svg>
              +7 (811) 369-32-33
            </a>
          </li>
          <li class="contacts-list__item">
            <a href="mailto:commerce@sudomasawmill.com" class="contacts-list__link">
              <svg>
                <use xlink:href="img/sprite.svg#mail"></use>
              </svg>
              commerce@sudomasawmill.com
            </a>
          </li>
          <li class="contacts-list__item">
            <a href="https://site.ru" target="_blank" class="contacts-list__link">
              <svg>
                <use xlink:href="img/sprite.svg#site"></use>
              </svg>
              сайт.ру
            </a>
          </li>
        </ul>
      </li>
      <li class="contacts-items__item">
        <h2 class="g-title contacts-col__title">Sudoma</h2>
        <ul class="list-reset contacts-col__list contacts-list">
          <li class="contacts-list__item">
            <address class="contacts-list__link contacts-list__link--address">
              <svg>
                <use xlink:href="img/sprite.svg#map-mark"></use>
              </svg>
              182710, Псковская область, Дедовичский район, территория Промплощадка лесозавода, строение 1
            </address>
          </li>
          <li class="contacts-list__item">
            <a href="tel:78113693233" class="contacts-list__link">
              <svg>
                <use xlink:href="img/sprite.svg#phone"></use>
              </svg>
              +7 (811) 369-32-33
            </a>
          </li>
          <li class="contacts-list__item">
            <a href="mailto:commerce@sudomasawmill.com" class="contacts-list__link">
              <svg>
                <use xlink:href="img/sprite.svg#mail"></use>
              </svg>
              commerce@sudomasawmill.com
            </a>
          </li>
          <li class="contacts-list__item">
            <a href="https://site.ru" target="_blank" class="contacts-list__link">
              <svg>
                <use xlink:href="img/sprite.svg#site"></use>
              </svg>
              сайт.ру
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="contacts__map" id="map"></div>
</section>