<section class="contacts-map">
  <div class="container contacts-map__container">
    <div class="map-info">
      <h2 class="g-title g-title--sm g-title--white map-info__title">Контакты</h2>
      <ul class="list-reset map-info__list">
        <li class="map-info__item">
          <address class="map-info__link">
            <svg>
              <use xlink:href="img/sprite.svg#map-mark"></use>
            </svg>
            Подмосковье, Московская обл., Россия
          </address>
        </li>

        <li class="map-info__item">
          <a href="tel:78113693233" class="map-info__link">
            <svg>
              <use xlink:href="img/sprite.svg#phone"></use>
            </svg>
            +7 (811) 369-32-33
          </a>
        </li>
        <li class="map-info__item">
          <a href="mailto:commerce@sudomasawmill.com" class="map-info__link">
            <svg>
              <use xlink:href="img/sprite.svg#mail"></use>
            </svg>
            commerce@sudomasawmill.com
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="contacts-map__map" id="map"></div>
</section>