<section class="feedback">
  <div class="container feedback__container">
    <div class="feedback__left">
      <h2 class="g-title g-title--lg g-title--shape feedback__title">
        Нужна консультация?
      </h2>
      <p class="feedback__desc">
        Оставьте заявку и в ближайшее время наш менеджер свяжется с вами для уточнений деталей.
      </p>
    </div>
    <form action="#" class="feedback-form" id="feedback-form">
      <label class="g-input g-input--required feedback-form__input">
        <span class="g-input__caption">ФИО</span>
        <input type="text" class="input-reset g-input__input validate-name" name="name" placeholder="Введите ФИО">
      </label>
      <div class="feedback-form__inputs">
        <label class="g-input g-input--required feedback-form__input">
          <span class="g-input__caption">Телефон</span>
          <input type="tel" class="input-reset g-input__input mask-input validate-tel" name="tel" placeholder="Введите номер телефона">
        </label>
        <label class="g-input feedback-form__input">
          <span class="g-input__caption">E-mail</span>
          <input type="email" class="input-reset g-input__input mask-input" name="email" placeholder="example@mail.com">
        </label>
      </div>
      <label class="g-input feedback-form__input">
        <span class="g-input__caption">Комментарий</span>
        <input type="text" class="input-reset g-input__input" name="message" placeholder="Дополнительная информация">
      </label>
      <div class="feedback-form__bottom">
        <button class="btn-reset g-btn g-btn--fill feedback-form__btn">Оформить заявку</button>
        <p class="feedback-form__desc">
          Отправляя форму, вы даете согласие на обработку своих <a href="policy.html">персональных данных</a>
        </p>
      </div>
    </form>
  </div>
</section>