<div class="overlay" data-menu-overlay></div>
<header class="header header--home">
  <div class="container header__container">
    <div class="header__left">
      <button class="btn-reset g-burger" aria-label="Открыть меню" data-burger>
        <span class="g-burger__line"></span>
      </button>
      <a href="index.html" class="logo header__logo">
        <svg width="160" height="40">
          <use xlink:href="img/sprite.svg#logo"></use>
        </svg>
      </a>
    </div>
    <nav class="nav header__nav">
      <ul class="list-reset nav__list">
        <li class="nav__item nav__item--dropdown">
          <a href="about.html" class="nav__link">
            О компании
            <svg>
              <use xlink:href="img/sprite.svg#arrow-bottom"></use>
            </svg>
          </a>
          <ul class="list-reset nav-dropdown nav-dropdown--sm">
            <li class="nav-dropdown__item">
              <a href="history.html" class="nav-dropdown__link">История</a>
            </li>
            <li class="nav-dropdown__item">
              <a href="mission.html" class="nav-dropdown__link">Миссия и ценности</a>
            </li>
          </ul>
        </li>
        <li class="nav__item nav__item--dropdown">
          <a href="partners.html" class="nav__link">
            Участники
            <svg>
              <use xlink:href="img/sprite.svg#arrow-bottom"></use>
            </svg>
          </a>
          <ul class="list-reset nav-dropdown">
            <li class="nav-dropdown__item">
              <a href="sudoma.html" class="nav-dropdown__link">Sudoma</a>
            </li>
            <li class="nav-dropdown__item">
              <a href="#" class="nav-dropdown__link">Дедовичская Лесная Компания</a>
            </li>
            <li class="nav-dropdown__item">
              <a href="#" class="nav-dropdown__link">Экополис</a>
            </li>
            <li class="nav-dropdown__item">
              <a href="#" class="nav-dropdown__link">Варяжский композит</a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <a href="news.html" class="nav__link">
            Новости
          </a>
        </li>
        <li class="nav__item">
          <a href="contacts.html" class="nav__link">
            Контакты
          </a>
        </li>
      </ul>
    </nav>
    <div class="header__right">
      <a href="tel:78113693233" class="header__tel">
        <svg>
          <use xlink:href="img/sprite.svg#phone"></use>
        </svg>
      </a>
      <button class="btn-reset g-btn g-btn--stroke header__btn" data-modal-path="request-call">
        Заказать звонок
      </button>
      <div class="lang header__lang">
        <button class="btn-reset lang__btn">
          <span>Ru</span>
          <svg>
            <use xlink:href="img/sprite.svg#arrow-down"></use>
          </svg>
        </button>
        <ul class="list-reset lang-dropdown">
          <li class="lang-dropdown__item">
            <button class="btn-reset lang-dropdown__btn active">Ru</button>
          </li>
          <li class="lang-dropdown__item">
            <button class="btn-reset lang-dropdown__btn">En</button>
          </li>
        </ul>
      </div>
      <button class="btn-reset header__burger">
        <svg aria-hidden="true">
          <use xlink:href="img/sprite.svg#burger"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="menu" data-menu>
    <ul class="list-reset menu-list">
      <li class="menu-list__item accordion open">
        <div class="menu-list__accordion">
          <a href="partners.html" class="g-title g-title--sm menu-list__link">
            О компании
          </a>
          <button class="btn-reset menu-list__arrow accordion__control" aria-expanded="true">
            <svg class="menu-list__icon">
              <use xlink:href="img/sprite.svg#arrow-bottom"></use>
            </svg>
          </button>
        </div>
        <ul class="list-reset menu-dropdown accordion__content" aria-hidden="false">
          <li class="menu-dropdown__item">
            <a href="history.html" class="menu-dropdown__link">История</a>
          </li>
          <li class="menu-dropdown__item">
            <a href="mission.html" class="menu-dropdown__link">Миссия и ценности</a>
          </li>
        </ul>
      </li>
      <li class="menu-list__item accordion open">
        <div class="menu-list__accordion">
          <a href="partners.html" class="g-title g-title--sm menu-list__link">
            Участники
          </a>
          <button class="btn-reset menu-list__arrow accordion__control" aria-expanded="true">
            <svg class="menu-list__icon">
              <use xlink:href="img/sprite.svg#arrow-bottom"></use>
            </svg>
          </button>
        </div>
        <ul class="list-reset menu-dropdown accordion__content" aria-hidden="false">
          <li class="menu-dropdown__item">
            <a href="sudoma.html" class="menu-dropdown__link">Sudoma</a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link">ДЛК</a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link">Экополис</a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link">ДПК</a>
          </li>
        </ul>
      </li>
      <li class="menu-list__item">
        <a href="news.html" class="g-title g-title--sm menu-list__link">
          Новости
        </a>
      </li>
      <li class="menu-list__item">
        <a href="contacts.html" class="g-title g-title--sm menu-list__link">
          Контакты
        </a>
      </li>
    </ul>
  </div>
</header>