<header class="header">
  <div class="container header__container">
    <div class="header__left">
      <a href="index.html" class="logo header__logo">
        <img width="160" height="40" src="img/logo.svg" alt="Shelon">
      </a>
    </div>
    <nav class="nav header__nav">
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link">
            О компании
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            Участники
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            Новости
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            Контакты
          </a>
        </li>
      </ul>
    </nav>
    <div class="header__right">
      <button class="btn-reset g-btn g-btn--stroke header__btn">
        Заказать звонок
      </button>
    </div>
  </div>
</header>