<section class="hero section">
  @include('./lines.html')
  <video src="home.mp4" playsinline muted autoplay loop class="hero__video"></video>
  <div class="container hero__container">
    <h1 class="g-title g-title--xl g-title--white g-title--shape hero__title">Лесопромышленный комплекс SHELON</h1>
    <p class="hero__desc">Базовые принципы комплекса: передовые технологии, высокое качество продукции и активная позиция в вопросах ответственности перед экосистемой российских лесов.</p>
  </div>
</section>