<section class="history">
  <div class="main-hero">
    @include('./lines.html')
    <div class="container main-hero__container">
      <h1 class="g-title g-title--xl g-title--white g-title--shape main-hero__title">История</h1>
      <p class="main-hero__desc">SHELON — динамично развивающийся лесопромышленный комплекс.</p>
    </div>
    <picture>
      <source srcset="img/main-bg.avif" type="image/avif">
      <source srcset="img/main-bg.webp" type="image/webp">
      <img loading="lazy" src="img/main-bg.jpg" class="main-hero__image" alt="История">
    </picture>
  </div>
  <div class="history__container">
    @include('./lines.html')
    <div class="container">
      <ul class="list-reset g-breadcrumbs">
        <li class="g-breadcrumbs__item">
          <a href="index.html" class="g-breadcrumbs__link">Главная</a>
        </li>
        <li class="g-breadcrumbs__item">
          <a class="g-breadcrumbs__link">История</a>
        </li>
      </ul>
    </div>
    <div class="history-tabs tabs" data-tabs="tab">
      <div class="history-tabs__nav">
        <ul class="list-reset tabs__nav">
          <li class="tabs__nav-item">
            <button class="btn-reset tabs__nav-btn tabs__nav-btn--active" type="button">2015</button>
          </li>
          <li class="tabs__nav-item">
            <button class="btn-reset tabs__nav-btn" type="button">2016</button>
          </li>
          <li class="tabs__nav-item">
            <button class="btn-reset tabs__nav-btn" type="button">2017</button>
          </li>
          <li class="tabs__nav-item">
            <button class="btn-reset tabs__nav-btn" type="button">2018</button>
          </li>
          <li class="tabs__nav-item">
            <button class="btn-reset tabs__nav-btn" type="button">2019</button>
          </li>
          <li class="tabs__nav-item">
            <button class="btn-reset tabs__nav-btn" type="button">2020</button>
          </li>
          <li class="tabs__nav-item">
            <button class="btn-reset tabs__nav-btn" type="button">2021</button>
          </li>
          <li class="tabs__nav-item">
            <button class="btn-reset tabs__nav-btn" type="button">2022</button>
          </li>
          <li class="tabs__nav-item">
            <button class="btn-reset tabs__nav-btn tabs__nav-btn--disabled" type="button">2023</button>
          </li>
        </ul>
      </div>
      <div class="container tabs__content">
        <div class="tabs__panel tabs__panel--active history-content">
          <p class="history-content__text">В год 30-летия GS Group реализует несколько прорывных отраслевых проектов. На
            базе предприятий «Технополиса GS» запущено крупнейшее в РФ производство светодиодов под брендом GS LED.</p>
          <picture>
            <source srcset="img/shelon.avif" type="image/avif">
            <source srcset="img/shelon.webp" type="image/webp">
            <img loading="lazy" src="img/shelon.jpg" class="history-content__image" width="720" height="500"
              alt="Лесопромышленный комплекс SHELON">
          </picture>
        </div>
        <div class="tabs__panel history-content">
          <p class="history-content__text">В год 30-летия GS Group реализует несколько прорывных отраслевых проектов. На
            базе предприятий «Технополиса GS» запущено крупнейшее в РФ производство светодиодов под брендом GS LED.</p>
          <picture>
            <source srcset="img/shelon.avif" type="image/avif">
            <source srcset="img/shelon.webp" type="image/webp">
            <img loading="lazy" src="img/shelon.jpg" class="history-content__image" width="720" height="500"
              alt="Лесопромышленный комплекс SHELON">
          </picture>
        </div>
        <div class="tabs__panel history-content">
          <p class="history-content__text">В год 30-летия GS Group реализует несколько прорывных отраслевых проектов. На
            базе предприятий «Технополиса GS» запущено крупнейшее в РФ производство светодиодов под брендом GS LED.</p>
          <picture>
            <source srcset="img/shelon.avif" type="image/avif">
            <source srcset="img/shelon.webp" type="image/webp">
            <img loading="lazy" src="img/shelon.jpg" class="history-content__image" width="720" height="500"
              alt="Лесопромышленный комплекс SHELON">
          </picture>
        </div>
        <div class="tabs__panel history-content">
          <p class="history-content__text">В год 30-летия GS Group реализует несколько прорывных отраслевых проектов. На
            базе предприятий «Технополиса GS» запущено крупнейшее в РФ производство светодиодов под брендом GS LED.</p>
          <picture>
            <source srcset="img/shelon.avif" type="image/avif">
            <source srcset="img/shelon.webp" type="image/webp">
            <img loading="lazy" src="img/shelon.jpg" class="history-content__image" width="720" height="500"
              alt="Лесопромышленный комплекс SHELON">
          </picture>
        </div>
        <div class="tabs__panel history-content">
          <p class="history-content__text">В год 30-летия GS Group реализует несколько прорывных отраслевых проектов. На
            базе предприятий «Технополиса GS» запущено крупнейшее в РФ производство светодиодов под брендом GS LED.</p>
          <picture>
            <source srcset="img/shelon.avif" type="image/avif">
            <source srcset="img/shelon.webp" type="image/webp">
            <img loading="lazy" src="img/shelon.jpg" class="history-content__image" width="720" height="500"
              alt="Лесопромышленный комплекс SHELON">
          </picture>
        </div>
        <div class="tabs__panel history-content">
          <p class="history-content__text">В год 30-летия GS Group реализует несколько прорывных отраслевых проектов. На
            базе предприятий «Технополиса GS» запущено крупнейшее в РФ производство светодиодов под брендом GS LED.</p>
          <picture>
            <source srcset="img/shelon.avif" type="image/avif">
            <source srcset="img/shelon.webp" type="image/webp">
            <img loading="lazy" src="img/shelon.jpg" class="history-content__image" width="720" height="500"
              alt="Лесопромышленный комплекс SHELON">
          </picture>
        </div>
        <div class="tabs__panel history-content">
          <p class="history-content__text">В год 30-летия GS Group реализует несколько прорывных отраслевых проектов. На
            базе предприятий «Технополиса GS» запущено крупнейшее в РФ производство светодиодов под брендом GS LED.</p>
          <picture>
            <source srcset="img/shelon.avif" type="image/avif">
            <source srcset="img/shelon.webp" type="image/webp">
            <img loading="lazy" src="img/shelon.jpg" class="history-content__image" width="720" height="500"
              alt="Лесопромышленный комплекс SHELON">
          </picture>
        </div>
        <div class="tabs__panel history-content">
          <p class="history-content__text">В год 30-летия GS Group реализует несколько прорывных отраслевых проектов. На
            базе предприятий «Технополиса GS» запущено крупнейшее в РФ производство светодиодов под брендом GS LED.</p>
          <picture>
            <source srcset="img/shelon.avif" type="image/avif">
            <source srcset="img/shelon.webp" type="image/webp">
            <img loading="lazy" src="img/shelon.jpg" class="history-content__image" width="720" height="500"
              alt="Лесопромышленный комплекс SHELON">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>