<section class="history">
  <div class="main-hero">
    @include('./lines.html')
    <div class="container main-hero__container">
      <h1 class="g-title g-title--xl g-title--white g-title--shape main-hero__title">История</h1>
      <p class="main-hero__desc">SHELON — динамично развивающийся лесопромышленный комплекс.</p>
    </div>
    <picture>
      <source srcset="img/main-bg.avif" type="image/avif">
      <source srcset="img/main-bg.webp" type="image/webp">
      <img loading="lazy" src="img/main-bg.jpg" class="main-hero__image" alt="История">
    </picture>
  </div>
  <div class="history__container">
    @include('./lines.html')
    <div class="container">
      <ul class="list-reset g-breadcrumbs">
        <li class="g-breadcrumbs__item">
          <a href="index.html" class="g-breadcrumbs__link">Главная</a>
        </li>
        <li class="g-breadcrumbs__item">
          <a class="g-breadcrumbs__link">История</a>
        </li>
      </ul>
    </div>
    <div class="history-tabs tabs">
      <div class="tabs__nav-wrapper">
        <div class="history-tabs__nav swiper swiper-tabs">
          <div class="tabs__nav swiper-wrapper">
            <div class="swiper-slide tabs__nav-item">
              <button class="btn-reset tabs__nav-btn tabs__nav-btn--active" data-tabs-path="2008">2008</button>
            </div>
            <div class="swiper-slide tabs__nav-item">
              <button class="btn-reset tabs__nav-btn" data-tabs-path="2009">2009</button>
            </div>
            <div class="swiper-slide tabs__nav-item">
              <button class="btn-reset tabs__nav-btn" data-tabs-path="2010">2010</button>
            </div>
            <div class="swiper-slide tabs__nav-item">
              <button class="btn-reset tabs__nav-btn" data-tabs-path="2011">2011</button>
            </div>
            <div class="swiper-slide tabs__nav-item">
              <button class="btn-reset tabs__nav-btn" data-tabs-path="2012">2012</button>
            </div>
            <div class="swiper-slide tabs__nav-item">
              <button class="btn-reset tabs__nav-btn" data-tabs-path="2013">2013</button>
            </div>
            <div class="swiper-slide tabs__nav-item">
              <button class="btn-reset tabs__nav-btn" data-tabs-path="2014">2014</button>
            </div>
            <div class="swiper-slide tabs__nav-item">
              <button class="btn-reset tabs__nav-btn" data-tabs-path="2015">2015</button>
            </div>
            <div class="swiper-slide tabs__nav-item">
              <button class="btn-reset tabs__nav-btn" data-tabs-path="2016">2016</button>
            </div>
            <div class="swiper-slide tabs__nav-item">
              <button class="btn-reset tabs__nav-btn" data-tabs-path="2017">2017</button>
            </div>
            <div class="swiper-slide tabs__nav-item">
              <button class="btn-reset tabs__nav-btn" data-tabs-path="2018">2018</button>
            </div>
            <div class="swiper-slide tabs__nav-item">
              <button class="btn-reset tabs__nav-btn" data-tabs-path="2019">2019</button>
            </div>
            <div class="swiper-slide tabs__nav-item">
              <button class="btn-reset tabs__nav-btn" data-tabs-path="2021">2020</button>
            </div>
            <div class="swiper-slide tabs__nav-item">
              <button class="btn-reset tabs__nav-btn" data-tabs-path="2022">2022</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container tabs__content">
        <div class="tabs__panel tabs__panel--active history-content" data-tabs-target="2008">
          <p class="history-content__text">В год 30-летия GS Group реализует несколько прорывных отраслевых проектов. На
            базе предприятий «Технополиса GS» запущено крупнейшее в РФ производство светодиодов под брендом GS LED.</p>
          <picture>
            <source srcset="img/shelon.avif" type="image/avif">
            <source srcset="img/shelon.webp" type="image/webp">
            <img loading="lazy" src="img/shelon.jpg" class="history-content__image" width="720" height="500"
              alt="Лесопромышленный комплекс SHELON">
          </picture>
        </div>
        <div class="tabs__panel history-content" data-tabs-target="2009">
          <p class="history-content__text">В год 30-летия GS Group реализует несколько прорывных отраслевых проектов. На
            базе предприятий «Технополиса GS» запущено крупнейшее в РФ производство светодиодов под брендом GS LED.</p>
          <picture>
            <source srcset="img/shelon.avif" type="image/avif">
            <source srcset="img/shelon.webp" type="image/webp">
            <img loading="lazy" src="img/shelon.jpg" class="history-content__image" width="720" height="500"
              alt="Лесопромышленный комплекс SHELON">
          </picture>
        </div>
        <div class="tabs__panel history-content" data-tabs-target="2010">
          <p class="history-content__text">В год 30-летия GS Group реализует несколько прорывных отраслевых проектов. На
            базе предприятий «Технополиса GS» запущено крупнейшее в РФ производство светодиодов под брендом GS LED.</p>
          <picture>
            <source srcset="img/shelon.avif" type="image/avif">
            <source srcset="img/shelon.webp" type="image/webp">
            <img loading="lazy" src="img/shelon.jpg" class="history-content__image" width="720" height="500"
              alt="Лесопромышленный комплекс SHELON">
          </picture>
        </div>
        <div class="tabs__panel history-content" data-tabs-target="2011">
          <p class="history-content__text">В год 30-летия GS Group реализует несколько прорывных отраслевых проектов. На
            базе предприятий «Технополиса GS» запущено крупнейшее в РФ производство светодиодов под брендом GS LED.</p>
          <picture>
            <source srcset="img/shelon.avif" type="image/avif">
            <source srcset="img/shelon.webp" type="image/webp">
            <img loading="lazy" src="img/shelon.jpg" class="history-content__image" width="720" height="500"
              alt="Лесопромышленный комплекс SHELON">
          </picture>
        </div>
        <div class="tabs__panel history-content" data-tabs-target="2012">
          <p class="history-content__text">В год 30-летия GS Group реализует несколько прорывных отраслевых проектов. На
            базе предприятий «Технополиса GS» запущено крупнейшее в РФ производство светодиодов под брендом GS LED.</p>
          <picture>
            <source srcset="img/shelon.avif" type="image/avif">
            <source srcset="img/shelon.webp" type="image/webp">
            <img loading="lazy" src="img/shelon.jpg" class="history-content__image" width="720" height="500"
              alt="Лесопромышленный комплекс SHELON">
          </picture>
        </div>
        <div class="tabs__panel history-content" data-tabs-target="2013">
          <p class="history-content__text">В год 30-летия GS Group реализует несколько прорывных отраслевых проектов. На
            базе предприятий «Технополиса GS» запущено крупнейшее в РФ производство светодиодов под брендом GS LED.</p>
          <picture>
            <source srcset="img/shelon.avif" type="image/avif">
            <source srcset="img/shelon.webp" type="image/webp">
            <img loading="lazy" src="img/shelon.jpg" class="history-content__image" width="720" height="500"
              alt="Лесопромышленный комплекс SHELON">
          </picture>
        </div>
        <div class="tabs__panel history-content" data-tabs-target="2014">
          <p class="history-content__text">В год 30-летия GS Group реализует несколько прорывных отраслевых проектов. На
            базе предприятий «Технополиса GS» запущено крупнейшее в РФ производство светодиодов под брендом GS LED.</p>
          <picture>
            <source srcset="img/shelon.avif" type="image/avif">
            <source srcset="img/shelon.webp" type="image/webp">
            <img loading="lazy" src="img/shelon.jpg" class="history-content__image" width="720" height="500"
              alt="Лесопромышленный комплекс SHELON">
          </picture>
        </div>
        <div class="tabs__panel history-content" data-tabs-target="2015">
          <p class="history-content__text">В год 30-летия GS Group реализует несколько прорывных отраслевых проектов. На
            базе предприятий «Технополиса GS» запущено крупнейшее в РФ производство светодиодов под брендом GS LED.</p>
          <picture>
            <source srcset="img/shelon.avif" type="image/avif">
            <source srcset="img/shelon.webp" type="image/webp">
            <img loading="lazy" src="img/shelon.jpg" class="history-content__image" width="720" height="500"
              alt="Лесопромышленный комплекс SHELON">
          </picture>
        </div>
        <div class="tabs__panel history-content" data-tabs-target="2016">
          <p class="history-content__text">В год 30-летия GS Group реализует несколько прорывных отраслевых проектов. На
            базе предприятий «Технополиса GS» запущено крупнейшее в РФ производство светодиодов под брендом GS LED.</p>
          <picture>
            <source srcset="img/shelon.avif" type="image/avif">
            <source srcset="img/shelon.webp" type="image/webp">
            <img loading="lazy" src="img/shelon.jpg" class="history-content__image" width="720" height="500"
              alt="Лесопромышленный комплекс SHELON">
          </picture>
        </div>
        <div class="tabs__panel history-content" data-tabs-target="2017">
          <p class="history-content__text">В год 30-летия GS Group реализует несколько прорывных отраслевых проектов. На
            базе предприятий «Технополиса GS» запущено крупнейшее в РФ производство светодиодов под брендом GS LED.</p>
          <picture>
            <source srcset="img/shelon.avif" type="image/avif">
            <source srcset="img/shelon.webp" type="image/webp">
            <img loading="lazy" src="img/shelon.jpg" class="history-content__image" width="720" height="500"
              alt="Лесопромышленный комплекс SHELON">
          </picture>
        </div>
        <div class="tabs__panel history-content" data-tabs-target="2018">
          <p class="history-content__text">В год 30-летия GS Group реализует несколько прорывных отраслевых проектов. На
            базе предприятий «Технополиса GS» запущено крупнейшее в РФ производство светодиодов под брендом GS LED.</p>
          <picture>
            <source srcset="img/shelon.avif" type="image/avif">
            <source srcset="img/shelon.webp" type="image/webp">
            <img loading="lazy" src="img/shelon.jpg" class="history-content__image" width="720" height="500"
              alt="Лесопромышленный комплекс SHELON">
          </picture>
        </div>
        <div class="tabs__panel history-content" data-tabs-target="2019">
          <p class="history-content__text">В год 30-летия GS Group реализует несколько прорывных отраслевых проектов. На
            базе предприятий «Технополиса GS» запущено крупнейшее в РФ производство светодиодов под брендом GS LED.</p>
          <picture>
            <source srcset="img/shelon.avif" type="image/avif">
            <source srcset="img/shelon.webp" type="image/webp">
            <img loading="lazy" src="img/shelon.jpg" class="history-content__image" width="720" height="500"
              alt="Лесопромышленный комплекс SHELON">
          </picture>
        </div>
        <div class="tabs__panel history-content" data-tabs-target="2020">
          <p class="history-content__text">В год 30-летия GS Group реализует несколько прорывных отраслевых проектов. На
            базе предприятий «Технополиса GS» запущено крупнейшее в РФ производство светодиодов под брендом GS LED.</p>
          <picture>
            <source srcset="img/shelon.avif" type="image/avif">
            <source srcset="img/shelon.webp" type="image/webp">
            <img loading="lazy" src="img/shelon.jpg" class="history-content__image" width="720" height="500"
              alt="Лесопромышленный комплекс SHELON">
          </picture>
        </div>
        <div class="tabs__panel history-content" data-tabs-target="2021">
          <p class="history-content__text">В год 30-летия GS Group реализует несколько прорывных отраслевых проектов. На
            базе предприятий «Технополиса GS» запущено крупнейшее в РФ производство светодиодов под брендом GS LED.</p>
          <picture>
            <source srcset="img/shelon.avif" type="image/avif">
            <source srcset="img/shelon.webp" type="image/webp">
            <img loading="lazy" src="img/shelon.jpg" class="history-content__image" width="720" height="500"
              alt="Лесопромышленный комплекс SHELON">
          </picture>
        </div>
        <div class="tabs__panel history-content" data-tabs-target="2022">
          <p class="history-content__text">В год 30-летия GS Group реализует несколько прорывных отраслевых проектов. На
            базе предприятий «Технополиса GS» запущено крупнейшее в РФ производство светодиодов под брендом GS LED.</p>
          <picture>
            <source srcset="img/shelon.avif" type="image/avif">
            <source srcset="img/shelon.webp" type="image/webp">
            <img loading="lazy" src="img/shelon.jpg" class="history-content__image" width="720" height="500"
              alt="Лесопромышленный комплекс SHELON">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>