<section class="members">
  @include('./lines.html')
  <div class="members__container">
    <div class="members__left">
      <h2 class="g-title g-title--lg members__title">Участники комплекса</h2>
      <div class="swiper swiper-no-swiping swiper-vertical members-slider__nav">
        <div class="swiper-wrapper members-list">
          <div class="swiper-slide swiper-slide-thumb-active members-item">
            <span class="members-item__caption">Судома</span>
            <div class="members-item__content">
              <h3 class="g-title g-title--md g-title--shape members-item__title">Судома</h3>
              <p class="members-item__desc">Предприятие, которое осуществляет работы по заготовке древесины, выполняет
                восстановление лесного фонда</p>
              <a href="#" class="g-link members-item__link">
                Подробнее
                <svg>
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="swiper-slide members-item">
            <span class="members-item__caption">Дедовичская Лесная Компания</span>
            <div class="members-item__content">
              <h3 class="g-title g-title--md g-title--shape members-item__title">Дедовичская Лесная Компания</h3>
              <p class="members-item__desc">Предприятие, которое осуществляет работы по заготовке древесины, выполняет
                восстановление лесного фонда</p>
              <a href="#" class="g-link members-item__link">
                Подробнее
                <svg>
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="swiper-slide members-item">
            <span class="members-item__caption">Экополис</span>
            <div class="members-item__content">
              <h3 class="g-title g-title--md g-title--shape members-item__title">Экополис</h3>
              <p class="members-item__desc">Предприятие, которое осуществляет работы по заготовке древесины, выполняет
                восстановление лесного фонда</p>
              <a href="#" class="g-link members-item__link">
                Подробнее
                <svg>
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="swiper-slide members-item">
            <span class="members-item__caption">Варяжский композит</span>
            <div class="members-item__content">
              <h3 class="g-title g-title--md g-title--shape members-item__title">Варяжский композит</h3>
              <p class="members-item__desc">Предприятие, которое осуществляет работы по заготовке древесины, выполняет
                восстановление лесного фонда</p>
              <a href="#" class="g-link members-item__link">
                Подробнее
                <svg>
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper members-slider__main">
      <div class="swiper-wrapper">
        <div class="swiper-slide members-slide swiper-slide-thumb-active">
          <picture>
            <source srcset="img/members-1.avif" type="image/avif">
            <source srcset="img/members-1.webp" type="image/webp">
            <img loading="lazy" src="img/members-1.jpg" class="members-slide__image" width="960" height="950"
              alt="Дедовичская Лесная Компания">
          </picture>
        </div>
        <div class="swiper-slide members-slide">
          <picture>
            <source srcset="img/members-2.avif" type="image/avif">
            <source srcset="img/members-2.webp" type="image/webp">
            <img loading="lazy" src="img/members-2.jpg" class="members-slide__image" width="960" height="950"
              alt="Дедовичская Лесная Компания">
          </picture>
        </div>
        <div class="swiper-slide members-slide">
          <picture>
            <source srcset="img/members-1.avif" type="image/avif">
            <source srcset="img/members-1.webp" type="image/webp">
            <img loading="lazy" src="img/members-1.jpg" class="members-slide__image" width="960" height="950"
              alt="Дедовичская Лесная Компания">
          </picture>
        </div>
        <div class="swiper-slide members-slide">
          <picture>
            <source srcset="img/members-2.avif" type="image/avif">
            <source srcset="img/members-2.webp" type="image/webp">
            <img loading="lazy" src="img/members-2.jpg" class="members-slide__image" width="960" height="950"
              alt="Дедовичская Лесная Компания">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>