<section class="mission">
  <div class="main-hero">
    @include('./lines.html')
    <div class="container main-hero__container">
      <h1 class="g-title g-title--xl g-title--white g-title--shape main-hero__title">Миссия и ценности</h1>
      <p class="main-hero__desc">SHELON — динамично развивающийся лесопромышленный комплекс.</p>
    </div>
    <picture>
      <source srcset="img/main-bg.avif" type="image/avif">
      <source srcset="img/main-bg.webp" type="image/webp">
      <img loading="lazy" src="img/main-bg.jpg" class="main-hero__image" alt="Миссия и ценности">
    </picture>
  </div>
  <div class="container mission__container">
    @include('./lines.html')
    <ul class="list-reset g-breadcrumbs">
      <li class="g-breadcrumbs__item">
        <a href="index.html" class="g-breadcrumbs__link">Главная</a>
      </li>
      <li class="g-breadcrumbs__item">
        <a class="g-breadcrumbs__link">Миссия и ценности</a>
      </li>
    </ul>
    <div class="mission__row">
      <p class="mission__desc">Благодаря непрерывному динамичному росту SHELON регулярно объявляет конкурс на самые разнообразные должности. На предприятиях холдинга востребованы высококвалифицированные специалисты в области лесозаготовки, лесовосстановления и деревообработки, имеющие опыт работы в аналогичных компаниях. Помимо этого, в SHELON актуальны вакансии в области коммерции и для административного персонала. </p>
      <p class="mission__desc">Мы заинтересованы как в опытных профессионалах, так и в перспективных талантливых кадрах, готовых учиться, впитывать накопленный компанией опыт, генерировать идеи, искать нестандартные решения. Мы ждем в нашей команде энергичных, нацеленных на результат сотрудников, готовых вместе с нами идти к успеху!</p>
    </div>
  </div>
</section>