<section class="mission-section">
  @include('./lines.html')
  <div class="container mission-section__container">
    <h2 class="g-title g-title--lg mission-section__title">Миссия</h2>
    <div class="mission-section__body">
      <p class="mission-section__desc">Мы заботимся об окружающей среде и развиваем экологичное интегрированное производство замкнутого цикла.</p>
      <div class="mission-item">
        <svg class="mission-item__icon">
          <use xlink:href="img/sprite.svg#benefit-2"></use>
        </svg>
        <div class="mission-item__desc">
          <p>Мы повышаем качество жизни людей, создавая высококачественный экологичный продукт с заботой об окружающей среде.</p>
          <p>Внедряя передовые технологии производства и лучшие мировые практики лесопользования, совершенствуя продукты, мы способствуем развитию сотрудников и партнеров, экономическому росту регионов присутствия, укреплению экспортного потенциала и зеленой репутации России.</p>
        </div>
      </div>
    </div>
  </div>
</section>