<section class="partners">
  <div class="main-hero">
    @include('./lines.html')
    <div class="container main-hero__container">
      <h1 class="g-title g-title--xl g-title--white g-title--shape main-hero__title">Новости</h1>
      <p class="main-hero__desc">SHELON — динамично развивающийся лесопромышленный комплекс.</p>
    </div>
    <picture>
      <source srcset="img/main-bg.avif" type="image/avif">
      <source srcset="img/main-bg.webp" type="image/webp">
      <img loading="lazy" src="img/main-bg.jpg" class="main-hero__image" alt="Новости">
    </picture>
  </div>
  <div class="container container--lines partners__container">
    @include('./lines.html')
    <ul class="list-reset g-breadcrumbs">
      <li class="g-breadcrumbs__item">
        <a href="index.html" class="g-breadcrumbs__link">Главная</a>
      </li>
      <li class="g-breadcrumbs__item">
        <a class="g-breadcrumbs__link">Новости</a>
      </li>
    </ul>
    <div class="news-tabs tabs" data-tabs="tab">
      <ul class="list-reset tabs__nav">
        <li class="tabs__nav-item">
          <button class="btn-reset tabs__nav-btn tabs__nav-btn--active" type="button">Все</button>
        </li>
        <li class="tabs__nav-item">
          <button class="btn-reset tabs__nav-btn" type="button">Shelon</button>
        </li>
        <li class="tabs__nav-item">
          <button class="btn-reset tabs__nav-btn" type="button">Экополис</button>
        </li>
        <li class="tabs__nav-item">
          <button class="btn-reset tabs__nav-btn" type="button">DLK</button>
        </li>
        <li class="tabs__nav-item">
          <button class="btn-reset tabs__nav-btn" type="button">Sudoma</button>
        </li>
      </ul>
      <div class="tabs__content">
        <div class="tabs__panel tabs__panel--active">
          <ul class="list-reset news-grid">
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
          </ul>

          <div class="load-more">
            <button class="btn-reset g-link g-link--more">
              Показать еще
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#more"></use>
              </svg>
            </button>
            <ul class="list-reset g-pagination load-more__pagination">
              <li class="g-pagination__item">
                <span class="g-pagination__link g-pagination__link--current">01</span>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">02</a>
              </li>
              <span class="g-pagination__dots">...</span>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">09</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">10</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="tabs__panel">
          <ul class="list-reset news-grid">
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
          </ul>

          <div class="load-more">
            <button class="btn-reset g-link g-link--more">
              Показать еще
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#more"></use>
              </svg>
            </button>
            <ul class="list-reset g-pagination load-more__pagination">
              <li class="g-pagination__item">
                <span class="g-pagination__link g-pagination__link--current">01</span>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">02</a>
              </li>
              <span class="g-pagination__dots">...</span>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">09</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">10</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="tabs__panel">
          <ul class="list-reset news-grid">
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
          </ul>

          <div class="load-more">
            <button class="btn-reset g-link g-link--more">
              Показать еще
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#more"></use>
              </svg>
            </button>
            <ul class="list-reset g-pagination load-more__pagination">
              <li class="g-pagination__item">
                <span class="g-pagination__link g-pagination__link--current">01</span>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">02</a>
              </li>
              <span class="g-pagination__dots">...</span>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">09</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">10</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="tabs__panel">
          <ul class="list-reset news-grid">
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
          </ul>

          <div class="load-more">
            <button class="btn-reset g-link g-link--more">
              Показать еще
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#more"></use>
              </svg>
            </button>
            <ul class="list-reset g-pagination load-more__pagination">
              <li class="g-pagination__item">
                <span class="g-pagination__link g-pagination__link--current">01</span>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">02</a>
              </li>
              <span class="g-pagination__dots">...</span>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">09</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">10</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="tabs__panel">
          <ul class="list-reset news-grid">
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
            <li class="news-grid__item">
              <article class="post-item post-item--lg news__post-item">
                <a href="post.html" class="post-item__image">
                  <picture>
                    <source srcset="img/post.avif" type="image/avif">
                    <source srcset="img/post.webp" type="image/webp">
                    <img loading="lazy" src="img/post.jpg" width="620" height="208"
                      alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
                  </picture>
                </a>
                <div class="post-item__top">
                  <span class="post-item__date">02 мая 2022</span>
                  <span class="post-item__cat">Shelon</span>
                </div>
                <h3 class="g-title g-title--sm post-item__title">
                  <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                    высокотехнологичных плат</a>
                </h3>
                <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
                  Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
                  г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
                  электронных компонентов на плату. ..</p>
              </article>
            </li>
          </ul>

          <div class="load-more">
            <button class="btn-reset g-link g-link--more">
              Показать еще
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#more"></use>
              </svg>
            </button>
            <ul class="list-reset g-pagination load-more__pagination">
              <li class="g-pagination__item">
                <span class="g-pagination__link g-pagination__link--current">01</span>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">02</a>
              </li>
              <span class="g-pagination__dots">...</span>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">09</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">10</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>