<section class="news-section section fp-auto-height">
  @include('./lines.html')
  <div class="container news-section__container">
    <div class="news-section__top">
      <h2 class="g-title g-title--lg news-section__title">Новости</h2>
      <a href="news.html" class="g-link news-section__link">
        Все новости
        <svg>
          <use xlink:href="img/sprite.svg#arrow-right"></use>
        </svg>
      </a>
    </div>
    <ul class="list-reset news-section__list">
      <li class="news-section__item">
        <article class="post-item post-item--lg">
          <a href="post.html" class="post-item__image">
            <picture>
              <source srcset="img/post.avif" type="image/avif">
              <source srcset="img/post.webp" type="image/webp">
              <img loading="lazy" src="img/post.jpg" width="620" height="208" alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
            </picture>
          </a>
          <div class="post-item__top">
            <span class="post-item__date">02 мая 2022</span>
            <div class="post-item__tags">
              <a href="#" class="post-item__tag">Shelon</a>
              <a href="#" class="post-item__tag">Sudoma</a>
            </div>
          </div>
          <h3 class="g-title g-title--sm post-item__title">
            <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат</a>
          </h3>
          <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа электронных компонентов на плату. ..</p>
        </article>
      </li>
      <li class="news-section__item">
        <article class="post-item">
          <div class="post-item__top">
            <span class="post-item__date">02 мая 2022</span>
          </div>
          <h3 class="g-title g-title--sm post-item__title">
            <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат</a>
          </h3>
        </article>
      </li>
      <li class="news-section__item">
        <article class="post-item">
          <div class="post-item__top">
            <span class="post-item__date">02 мая 2022</span>
          </div>
          <h3 class="g-title g-title--sm post-item__title">
            <a href="post.html">Монтажа для производства высокотехнологичных плат</a>
          </h3>
        </article>
      </li>
      <li class="news-section__item">
        <article class="post-item">
          <div class="post-item__top">
            <span class="post-item__date">02 мая 2022</span>
          </div>
          <h3 class="g-title g-title--sm post-item__title">
            <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат развернуло уникальную</a>
          </h3>
        </article>
      </li>
    </ul>
  </div>
</section>