<section class="partners">
  <div class="main-hero">
    @include('./lines.html')
    <div class="container main-hero__container">
      <h1 class="g-title g-title--xl g-title--white g-title--shape main-hero__title">Участники</h1>
      <p class="main-hero__desc">SHELON — динамично развивающийся лесопромышленный комплекс.</p>
    </div>
    <picture>
      <source srcset="img/main-bg.avif" type="image/avif">
      <source srcset="img/main-bg.webp" type="image/webp">
      <img loading="lazy" src="img/main-bg.jpg" class="main-hero__image" alt="Участники">
    </picture>
  </div>
  <div class="container partners__container">
    @include('./lines.html')
    <ul class="list-reset g-breadcrumbs">
      <li class="g-breadcrumbs__item">
        <a href="index.html" class="g-breadcrumbs__link">Главная</a>
      </li>
      <li class="g-breadcrumbs__item">
        <a class="g-breadcrumbs__link">Участники</a>
      </li>
    </ul>
    <ul class="list-reset partners-list">
      <li class="partners-list__item">
        <a href="#" class="partners-item">
          <picture>
            <source srcset="img/partner-1.avif" type="image/avif">
            <source srcset="img/partner-1.webp" type="image/webp">
            <img loading="lazy" src="img/partner-1.jpg" class="partners-item__bg" width="720" height="400" alt="Судома">
          </picture>
          <img loading="lazy" src="img/sudoma-light.svg" class="partners-item__image" width="160" height="40" alt="Судома">
          <div class="partners-item__content">
            <h2 class="g-title g-title--md g-title--white partners-item__title">Судома</h2>
            <p class="partners-item__desc">Предприятие, которое осуществляет работы по заготовке древесины, выполняет восстановление лесного фонда</p>
          </div>
          <span class="g-btn g-btn--fill partners-item__link">Узнать подробнее</span>
        </a>
      </li>
      <li class="partners-list__item">
        <a href="#" class="partners-item">
          <picture>
            <source srcset="img/partner-2.avif" type="image/avif">
            <source srcset="img/partner-2.webp" type="image/webp">
            <img loading="lazy" src="img/partner-2.jpg" class="partners-item__bg" width="720" height="400" alt="Дедовичская Лесная Компания">
          </picture>
          <img loading="lazy" src="img/sudoma-light.svg" class="partners-item__image" width="160" height="40" alt="Судома">
          <div class="partners-item__content">
            <h2 class="g-title g-title--md g-title--white partners-item__title">Дедовичская Лесная Компания</h2>
            <p class="partners-item__desc">Предприятие, которое осуществляет работы по заготовке древесины, выполняет восстановление лесного фонда</p>
          </div>
          <span class="g-btn g-btn--fill partners-item__link">Узнать подробнее</span>
        </a>
      </li>
      <li class="partners-list__item">
        <a href="#" class="partners-item">
          <picture>
            <source srcset="img/partner-3.avif" type="image/avif">
            <source srcset="img/partner-3.webp" type="image/webp">
            <img loading="lazy" src="img/partner-3.jpg" class="partners-item__bg" width="720" height="400" alt="Экополис">
          </picture>
          <img loading="lazy" src="img/sudoma-light.svg" class="partners-item__image" width="160" height="40" alt="Экополис">
          <div class="partners-item__content">
            <h2 class="g-title g-title--md g-title--white partners-item__title">Экополис</h2>
            <p class="partners-item__desc">Предприятие, которое осуществляет работы по заготовке древесины, выполняет восстановление лесного фонда</p>
          </div>
          <span class="g-btn g-btn--fill partners-item__link">Узнать подробнее</span>
        </a>
      </li>
      <li class="partners-list__item">
        <a href="#" class="partners-item">
          <picture>
            <source srcset="img/partner-4.avif" type="image/avif">
            <source srcset="img/partner-4.webp" type="image/webp">
            <img loading="lazy" src="img/partner-4.jpg" class="partners-item__bg" width="720" height="400" alt="Варяжский композит">
          </picture>
          <img loading="lazy" src="img/sudoma-light.svg" class="partners-item__image" width="160" height="40" alt="Варяжский композит">
          <div class="partners-item__content">
            <h2 class="g-title g-title--md g-title--white partners-item__title">Варяжский композит</h2>
            <p class="partners-item__desc">Предприятие, которое осуществляет работы по заготовке древесины, выполняет восстановление лесного фонда</p>
          </div>
          <span class="g-btn g-btn--fill partners-item__link">Узнать подробнее</span>
        </a>
      </li>

      <li class="partners-list__item">
        <a href="#" class="partners-item">
          <picture>
            <source srcset="img/partner-2.avif" type="image/avif">
            <source srcset="img/partner-2.webp" type="image/webp">
            <img loading="lazy" src="img/partner-2.jpg" class="partners-item__bg" width="720" height="400" alt="Экополис">
          </picture>
          <img loading="lazy" src="img/sudoma-light.svg" class="partners-item__image" width="160" height="40" alt="Экополис">
          <div class="partners-item__content">
            <h2 class="g-title g-title--md g-title--white partners-item__title">Экополис</h2>
            <p class="partners-item__desc">Предприятие, которое осуществляет работы по заготовке древесины, выполняет восстановление лесного фонда</p>
          </div>
          <span class="g-btn g-btn--fill partners-item__link">Узнать подробнее</span>
        </a>
      </li>
    </ul>
  </div>
</section>