<section class="post">
  <div class="container">
    @include('./lines.html')
    <ul class="list-reset g-breadcrumbs post__breadcrumbs">
      <li class="g-breadcrumbs__item">
        <a href="index.html" class="g-breadcrumbs__link">Главная</a>
      </li>
      <li class="g-breadcrumbs__item">
        <a href="news.html" class="g-breadcrumbs__link">Новости</a>
      </li>
      <li class="g-breadcrumbs__item">
        <a class="g-breadcrumbs__link">Заявление ООО «Лесозавод «Судома» о решении FSC International приостановить действие всех российских торговых сертификатов FSC</a>
      </li>
    </ul>
    <h1>Заявление ООО «Лесозавод «Судома» о решении FSC International приостановить действие всех российских торговых сертификатов FSC</h1>
    <div class="post__top">
      <span class="post__date">02 мая 2022</span>
      <div class="post__tags">
        <a href="#" class="post__tag">Shelon</a>
        <a href="#" class="post__tag">Shelon</a>
      </div>
    </div>
  </div>
  <div class="swiper post-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source srcset="img/post-image.avif" type="image/avif">
          <source srcset="img/post-image.webp" type="image/webp">
          <img loading="lazy" src="img/post-image.jpg" class="post__image" width="1920" height="600" alt="Заявление ООО «Лесозавод «Судома» о решении FSC International приостановить действие всех российских торговых сертификатов FSC">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="img/post-image.avif" type="image/avif">
          <source srcset="img/post-image.webp" type="image/webp">
          <img loading="lazy" src="img/post-image.jpg" class="post__image" width="1920" height="600" alt="Заявление ООО «Лесозавод «Судома» о решении FSC International приостановить действие всех российских торговых сертификатов FSC">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="img/post-image.avif" type="image/avif">
          <source srcset="img/post-image.webp" type="image/webp">
          <img loading="lazy" src="img/post-image.jpg" class="post__image" width="1920" height="600" alt="Заявление ООО «Лесозавод «Судома» о решении FSC International приостановить действие всех российских торговых сертификатов FSC">
        </picture>
      </div>
    </div>
  </div>
  <div class="container post__container">
    <div class="post__body">
      <div class="post-content">
        <div class="post__desc">
          <p>С 8 апреля 2022 г. FSC International приостановило действия всех российских торговых сертификатов FSC на неопределенное время.</p>
          <p>Лесозавод «Судома» является держателем двух видов сертификатовFSC (FM/COC, COC). Несмотря на решение FSC International, предприятие остается приверженным принципам ответственного лесопользования во благо сохранения экологического баланса и достижения целей устойчивого развития отрасли на глобальном уровне, а также просвещения в области бережного отношения к природе.</p>
          <p>Мы выражаем благодарность офису FSC Россия за усердный и непростой труд, за поддержку и единство всей системы. Также мы признательны всем заинтересованным сторонам, с которыми мы разработали эффективную систему сотрудничества.</p>
          <p>Сертификация FSC — это один из ключевых элементов систематизации и контроля разумного использования природных богатств предприятиями лесной и лесоперерабатывающих отраслей. Но приостановка действия сертификатов FSC не влияет на основополагающие приоритеты деятельности лесозавода «Судома»: сохранение природной целостности, эффективное лесопользование и экологичное производство.</p>
          <p>Мы продолжаем реализацию готовой продукции со строгим контролем и подтверждением цепочки поставок и выражаем готовность к участию в новых системах лесной сертификации, а также открыты для диалога с нашими клиентами для выстраивания эффективных моделей взаимодействия, удовлетворяющих стандарты и потребности всех сторон.</p>
        </div>
        <h2>Реализация намеченных плановых заданий</h2>
        <div class="post-content__desc">
          <p>Таким образом постоянный количественный рост и сфера нашей активности позволяет оценить значение дальнейших направлений развития. Разнообразный и богатый опыт реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. С другой стороны консультация с широким активом позволяет оценить значение форм развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке соответствующий условий активизации. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации.</p>
          <p>С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации систем массового участия. Равным образом консультация с широким активом в значительной степени обуславливает создание дальнейших направлений развития. Идейные соображения высшего порядка, а также консультация с широким активом требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Равным образом дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития.</p>
          <p>Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт реализация намеченных плановых заданий позволяет выполнять важные задания по разработке форм развития. <a href="#">Задача организации</a>, в особенности же постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании форм развития.</p>
        </div>
        <div class="swiper post-gallery">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture>
                <source srcset="img/content.avif" type="image/avif">
                <source srcset="img/content.webp" type="image/webp">
                <img loading="lazy" src="img/content.jpg" width="1080" height="607" alt="Реализация намеченных плановых заданий">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="img/content.avif" type="image/avif">
                <source srcset="img/content.webp" type="image/webp">
                <img loading="lazy" src="img/content.jpg" width="1080" height="607" alt="Реализация намеченных плановых заданий">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="img/content.avif" type="image/avif">
                <source srcset="img/content.webp" type="image/webp">
                <img loading="lazy" src="img/content.jpg" width="1080" height="607" alt="Реализация намеченных плановых заданий">
              </picture>
            </div>
          </div>
          <button class="btn-reset slider-btn slider-btn--fill slider-btn--prev post-gallery__btn--prev">
            <svg>
              <use xlink:href="img/sprite.svg#arrow-left"></use>
            </svg>
          </button>
          <button class="btn-reset slider-btn slider-btn--fill slider-btn--next post-gallery__btn--next">
            <svg>
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <div class="slider-pagination post-gallery__pag"></div>
        </div>
        <h3>Реализация намеченных плановых заданий</h3>
        <div class="post-content__desc post-content__desc--offset">
          <p>Таким образом постоянный количественный рост и сфера нашей активности позволяет оценить значение дальнейших направлений развития. Разнообразный и богатый опыт реализация намеченных плановых заданий влечет за собой процесс.</p>
        </div>
        <ul>
          <li>изготовление продукции из березы.</li>
          <li>изготовление продукции из березы.</li>
          <li>изготовление продукции из березы.</li>
          <li>изготовление продукции из березы.</li>
          <li>изготовление продукции из березы.</li>
        </ul>
        <div class="post-content__desc post-content__desc--offset">
          <p>Таким образом постоянный количественный рост и сфера нашей активности позволяет оценить значение дальнейших направлений развития. Разнообразный и богатый опыт реализация намеченных плановых заданий влечет за собой процесс.</p>
        </div>
        <ol>
          <li>
            <p>Идейные соображения высшего порядка, а также консультация с широким активом требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. <b>Равным образом дальнейшее развитие различных</b> форм деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития.</p></li>
          <li>
            <p><i>Разнообразный и богатый опыт реализация</i> намеченных плановых заданий позволяет выполнять важные задания.</p></li>
          <li>
            <p>Идейные соображения высшего порядка, а также консультация с широким активом требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Равным образом дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития.</p></li>
          <li>
            <p>Разнообразный и богатый опыт реализация намеченных плановых заданий позволяет выполнять важные задания.</p></li>
        </ol>
        <h3>Реализация намеченных плановых заданий</h3>
        <div class="post-content__desc post-content__desc--offset">
          <p>Таким образом постоянный количественный рост и сфера нашей активности позволяет оценить значение дальнейших направлений развития. Разнообразный и богатый опыт реализация намеченных плановых заданий влечет за собой процесс.</p>
        </div>
        <div class="post-content__table">
          <table>
            <tr>
              <td>Таблица</td>
              <td>Таблица</td>
              <td>Таблица</td>
              <td>Таблица</td>
            </tr>
            <tr>
              <th>Идейные соображения высшего порядка, а также консультация с широким активом требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Равным образом дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития.</th>
              <th>Таким образом постоянный количественный рост и сфера нашей активности позволяет оценить значение дальнейших направлений развития. Разнообразный и богатый опыт реализация намеченных плановых заданий влечет за собой процесс.</th>
              <th>Идейные соображения высшего порядка, а также консультация с широким активом требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Равным образом дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития.</th>
              <th>Таким образом постоянный количественный рост и сфера нашей активности позволяет оценить значение дальнейших направлений развития. Разнообразный и богатый опыт реализация намеченных плановых заданий влечет за собой процесс.</th>
            </tr>
            <tr>
              <th>Идейные соображения высшего порядка, а также консультация с широким активом требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Равным образом дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития.</th>
              <th>Таким образом постоянный количественный рост и сфера нашей активности позволяет оценить значение дальнейших направлений развития. Разнообразный и богатый опыт реализация намеченных плановых заданий влечет за собой процесс.</th>
              <th>Идейные соображения высшего порядка, а также консультация с широким активом требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Равным образом дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития.</th>
              <th>Таким образом постоянный количественный рост и сфера нашей активности позволяет оценить значение дальнейших направлений развития. Разнообразный и богатый опыт реализация намеченных плановых заданий влечет за собой процесс.</th>
            </tr>
          </table>
        </div>
      </div>
      <div class="post-sidebar">
        <div class="g-social">
          <span class="g-social__caption">Поделиться:</span>
          <ul class="list-reset g-social__list">
            <li class="g-social__item">
              <a data-social="vkontakte" href="#" class="g-social__link">
                <svg width="24" height="24">
                  <use xlink:href="img/sprite.svg#vk"></use>
                </svg>
              </a>
            </li>
            <li class="g-social__item">
              <a data-social="facebook" href="#" class="g-social__link">
                <svg width="24" height="24">
                  <use xlink:href="img/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="g-social__item">
              <a data-social="twitter" href="#" class="g-social__link">
                <svg width="24" height="24">
                  <use xlink:href="img/sprite.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="g-social__item">
              <a data-social="googleplus" href="#" class="g-social__link">
                <svg width="24" height="24">
                  <use xlink:href="img/sprite.svg#google-plus"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="post-nav">
    <div class="container post-nav__container">
      <a href="#" class="post-nav__btn post-nav__btn--prev">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-left"></use>
        </svg>
        Предыдущая новость
      </a>
      <a href="#" class="post-nav__btn post-nav__btn--next">
        Предыдущая новость
        <svg>
          <use xlink:href="img/sprite.svg#arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>