<section class="progress">
  @include('./lines.html')
  <div class="container progress__container">
    <div class="progress__wrapper">
      <h2 class="g-title g-title--lg progress__title">Взаимодействие</h2>
      <div class="progress__body">
        <p class="progress__desc">Создаем дополнительную ценность для клиентов, соблюдая стандарты, сроки и требования
          по
          качеству</p>
        <ul class="list-reset progress-list">
          <li class="progress-list__item progress-item">
            <a href="#" class="progress-item__top">
              <picture>
                <source srcset="img/dlk.avif" type="image/avif">
                <source srcset="img/dlk.webp" type="image/webp">
                <img loading="lazy" src="img/dlk.jpg" class="progress-item__image" width="100" height="27"
                  alt="Дедовичская Лесная Компания">
              </picture>
            </a>
            <a href="#" class="g-title g-title--sm progress-item__title">
              Дедовичская Лесная Компания
            </a>
            <p class="progress-item__desc">Мы заботимся об окружающей среде и развиваем экологичное интегрированное
              производство замкнутого цикла.</p>
          </li>
          <li class="progress-list__item progress-item">
            <a href="#" class="progress-item__top">
              <img loading="lazy" src="img/sudoma.svg" class="progress-item__image" width="100" height="25"
                alt="Судома">
            </a>
            <a href="#" class="g-title g-title--sm progress-item__title">
              Судома
            </a>
            <p class="progress-item__desc">У нас богатая корпоративная жизнь: все сотрудники могут принимать участие в
              праздничных корпоративных мероприятиях, спортивных тренировках и турнирах, участвовать в творческих
              конкурсах и других инициативах.</p>
          </li>
          <li class="progress-list__item progress-item">
            <h3 class="g-title g-title--sm progress-item__title">
              Покупатель
            </h3>
            <p class="progress-item__desc">Мы ждем в нашей команде энергичных, нацеленных на результат сотрудников,
              готовых вместе с нами идти к успеху!</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="progress__wrapper">
      <h2 class="g-title g-title--lg progress__title">Взаимодействие</h2>
      <div class="progress__body">
        <p class="progress__desc">Создаем дополнительную ценность для клиентов, соблюдая стандарты, сроки и требования
          по
          качеству</p>
        <ul class="list-reset progress-list">
          <li class="progress-list__item progress-item">
            <a href="#" class="progress-item__top">
              <picture>
                <source srcset="img/dlk.avif" type="image/avif">
                <source srcset="img/dlk.webp" type="image/webp">
                <img loading="lazy" src="img/dlk.jpg" class="progress-item__image" width="100" height="27"
                  alt="Дедовичская Лесная Компания">
              </picture>
            </a>
            <a href="#" class="g-title g-title--sm progress-item__title">
              Дедовичская Лесная Компания
            </a>
            <p class="progress-item__desc">Мы заботимся об окружающей среде и развиваем экологичное интегрированное
              производство замкнутого цикла.</p>
          </li>
          <li class="progress-list__item progress-item">
            <a href="#" class="progress-item__top">
              <img loading="lazy" src="img/sudoma.svg" class="progress-item__image" width="100" height="25"
                alt="Судома">
            </a>
            <a href="#" class="g-title g-title--sm progress-item__title">
              Судома
            </a>
            <p class="progress-item__desc">У нас богатая корпоративная жизнь: все сотрудники могут принимать участие в
              праздничных корпоративных мероприятиях, спортивных тренировках и турнирах, участвовать в творческих
              конкурсах и других инициативах.</p>
          </li>
          <li class="progress-list__item progress-item">
            <a href="#" class="progress-item__top">
              <img loading="lazy" src="img/sudoma.svg" class="progress-item__image" width="100" height="25"
                alt="Судома">
            </a>
            <a href="#" class="g-title g-title--sm progress-item__title">
              Судома
            </a>
            <p class="progress-item__desc">У нас богатая корпоративная жизнь: все сотрудники могут принимать участие в
              праздничных корпоративных мероприятиях, спортивных тренировках и турнирах, участвовать в творческих
              конкурсах и других инициативах.</p>
          </li>
          <li class="progress-list__item progress-item">
            <h3 class="g-title g-title--sm progress-item__title">
              Покупатель
            </h3>
            <p class="progress-item__desc">Мы ждем в нашей команде энергичных, нацеленных на результат сотрудников,
              готовых вместе с нами идти к успеху!</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="progress__wrapper progress__wrapper--full">
      <h2 class="g-title g-title--lg progress__title">Взаимодействие</h2>
      <div class="progress__body">
        <ul class="list-reset progress-list">
          <li class="progress-list__item progress-item">
            <a href="#" class="progress-item__top">
              <picture>
                <source srcset="img/dlk.avif" type="image/avif">
                <source srcset="img/dlk.webp" type="image/webp">
                <img loading="lazy" src="img/dlk.jpg" class="progress-item__image" width="100" height="27"
                  alt="Дедовичская Лесная Компания">
              </picture>
            </a>
            <a href="#" class="g-title g-title--sm progress-item__title">
              Дедовичская Лесная Компания
            </a>
            <p class="progress-item__desc">Мы заботимся об окружающей среде и развиваем экологичное интегрированное
              производство замкнутого цикла.</p>
          </li>
          <li class="progress-list__item progress-item">
            <a href="#" class="progress-item__top">
              <img loading="lazy" src="img/sudoma.svg" class="progress-item__image" width="100" height="25"
                alt="Судома">
            </a>
            <a href="#" class="g-title g-title--sm progress-item__title">
              Судома
            </a>
            <p class="progress-item__desc">У нас богатая корпоративная жизнь: все сотрудники могут принимать участие в
              праздничных корпоративных мероприятиях, спортивных тренировках и турнирах, участвовать в творческих
              конкурсах и других инициативах.</p>
          </li>
          <li class="progress-list__item progress-item">
            <a href="#" class="progress-item__top">
              <img loading="lazy" src="img/sudoma.svg" class="progress-item__image" width="100" height="25"
                alt="Судома">
            </a>
            <a href="#" class="g-title g-title--sm progress-item__title">
              Судома
            </a>
            <p class="progress-item__desc">У нас богатая корпоративная жизнь: все сотрудники могут принимать участие в
              праздничных корпоративных мероприятиях, спортивных тренировках и турнирах, участвовать в творческих
              конкурсах и других инициативах.</p>
          </li>
          <li class="progress-list__item progress-item">
            <h3 class="g-title g-title--sm progress-item__title">
              Покупатель
            </h3>
            <p class="progress-item__desc">Мы ждем в нашей команде энергичных, нацеленных на результат сотрудников,
              готовых вместе с нами идти к успеху!</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>