<section class="similar-news">
  @include('./lines.html')
  <div class="container similar-news__container">
    <h2 class="g-title g-title--lg similar-news__title">
      Смотрите так же:
    </h2>
    <div class="swiper similar-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="post-item post-item--lg similar-slider__slide">
            <a href="post.html" class="post-item__image">
              <picture>
                <source srcset="img/post.avif" type="image/avif">
                <source srcset="img/post.webp" type="image/webp">
                <img loading="lazy" src="img/post.jpg" width="620" height="208"
                  alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
              </picture>
            </a>
            <div class="post-item__top">
              <span class="post-item__date">02 мая 2022</span>
              <span class="post-item__cat">Shelon</span>
            </div>
            <h3 class="g-title g-title--sm post-item__title">
              <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                высокотехнологичных плат</a>
            </h3>
            <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
              Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
              электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
              г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
              электронных компонентов на плату. ..</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="post-item post-item--lg similar-slider__slide">
            <a href="post.html" class="post-item__image">
              <picture>
                <source srcset="img/post.avif" type="image/avif">
                <source srcset="img/post.webp" type="image/webp">
                <img loading="lazy" src="img/post.jpg" width="620" height="208"
                  alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
              </picture>
            </a>
            <div class="post-item__top">
              <span class="post-item__date">02 мая 2022</span>
              <span class="post-item__cat">Shelon</span>
            </div>
            <h3 class="g-title g-title--sm post-item__title">
              <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                высокотехнологичных плат</a>
            </h3>
            <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
              Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
              электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
              г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
              электронных компонентов на плату. ..</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="post-item post-item--lg similar-slider__slide">
            <a href="post.html" class="post-item__image">
              <picture>
                <source srcset="img/post.avif" type="image/avif">
                <source srcset="img/post.webp" type="image/webp">
                <img loading="lazy" src="img/post.jpg" width="620" height="208"
                  alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
              </picture>
            </a>
            <div class="post-item__top">
              <span class="post-item__date">02 мая 2022</span>
              <span class="post-item__cat">Shelon</span>
            </div>
            <h3 class="g-title g-title--sm post-item__title">
              <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                высокотехнологичных плат</a>
            </h3>
            <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
              Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
              электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
              г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
              электронных компонентов на плату. ..</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="post-item post-item--lg similar-slider__slide">
            <a href="post.html" class="post-item__image">
              <picture>
                <source srcset="img/post.avif" type="image/avif">
                <source srcset="img/post.webp" type="image/webp">
                <img loading="lazy" src="img/post.jpg" width="620" height="208"
                  alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
              </picture>
            </a>
            <div class="post-item__top">
              <span class="post-item__date">02 мая 2022</span>
              <span class="post-item__cat">Shelon</span>
            </div>
            <h3 class="g-title g-title--sm post-item__title">
              <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                высокотехнологичных плат</a>
            </h3>
            <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
              Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
              электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
              г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
              электронных компонентов на плату. ..</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="post-item post-item--lg similar-slider__slide">
            <a href="post.html" class="post-item__image">
              <picture>
                <source srcset="img/post.avif" type="image/avif">
                <source srcset="img/post.webp" type="image/webp">
                <img loading="lazy" src="img/post.jpg" width="620" height="208"
                  alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
              </picture>
            </a>
            <div class="post-item__top">
              <span class="post-item__date">02 мая 2022</span>
              <span class="post-item__cat">Shelon</span>
            </div>
            <h3 class="g-title g-title--sm post-item__title">
              <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                высокотехнологичных плат</a>
            </h3>
            <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
              Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
              электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
              г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
              электронных компонентов на плату. ..</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="post-item post-item--lg similar-slider__slide">
            <a href="post.html" class="post-item__image">
              <picture>
                <source srcset="img/post.avif" type="image/avif">
                <source srcset="img/post.webp" type="image/webp">
                <img loading="lazy" src="img/post.jpg" width="620" height="208"
                  alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
              </picture>
            </a>
            <div class="post-item__top">
              <span class="post-item__date">02 мая 2022</span>
              <span class="post-item__cat">Shelon</span>
            </div>
            <h3 class="g-title g-title--sm post-item__title">
              <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                высокотехнологичных плат</a>
            </h3>
            <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
              Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
              электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
              г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
              электронных компонентов на плату. ..</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="post-item post-item--lg similar-slider__slide">
            <a href="post.html" class="post-item__image">
              <picture>
                <source srcset="img/post.avif" type="image/avif">
                <source srcset="img/post.webp" type="image/webp">
                <img loading="lazy" src="img/post.jpg" width="620" height="208"
                  alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
              </picture>
            </a>
            <div class="post-item__top">
              <span class="post-item__date">02 мая 2022</span>
              <span class="post-item__cat">Shelon</span>
            </div>
            <h3 class="g-title g-title--sm post-item__title">
              <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                высокотехнологичных плат</a>
            </h3>
            <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
              Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
              электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
              г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
              электронных компонентов на плату. ..</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="post-item post-item--lg similar-slider__slide">
            <a href="post.html" class="post-item__image">
              <picture>
                <source srcset="img/post.avif" type="image/avif">
                <source srcset="img/post.webp" type="image/webp">
                <img loading="lazy" src="img/post.jpg" width="620" height="208"
                  alt="НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства высокотехнологичных плат">
              </picture>
            </a>
            <div class="post-item__top">
              <span class="post-item__date">02 мая 2022</span>
              <span class="post-item__cat">Shelon</span>
            </div>
            <h3 class="g-title g-title--sm post-item__title">
              <a href="post.html">НПО «ЦТС» развернуло уникальную линию поверхностного монтажа для производства
                высокотехнологичных плат</a>
            </h3>
            <p class="post-item__desc">АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» <br /> в г.
              Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
              электронных компонентов на плату. АО «НПО "ЦТС"» (в составе инновационного кластера «Технополис GS» в
              г. Гусеве Калининградской области) произвело модернизацию одной из линий поверхностного монтажа
              электронных компонентов на плату. ..</p>
          </article>
        </div>
      </div>
    </div>
    <div class="similar-news__btns">
      <button class="btn-reset slider-btn slider-btn--prev similar-slider__btn--prev">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-left"></use>
        </svg>
      </button>
      <button class="btn-reset slider-btn slider-btn--next similar-slider__btn--next">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>