<section class="about">
  <div class="main-hero">
    @include('./lines.html')
    <div class="container main-hero__container">
      <h1 class="g-title g-title--xl g-title--white g-title--shape main-hero__title">Sudoma</h1>
      <div class="main-hero__desc">SHELON — динамично развивающийся лесопромышленный комплекс.</div>
    </div>
    <picture>
      <source srcset="img/main-bg.avif" type="image/avif">
      <source srcset="img/main-bg.webp" type="image/webp">
      <img loading="lazy" src="img/main-bg.jpg" class="main-hero__image" alt="О компании">
    </picture>
  </div>
  <div class="container container--lines about__container">
    @include('./lines.html')
    <ul class="list-reset g-breadcrumbs">
      <li class="g-breadcrumbs__item">
        <a href="index.html" class="g-breadcrumbs__link">Главная</a>
      </li>
      <li class="g-breadcrumbs__item">
        <a href="partners.html" class="g-breadcrumbs__link">Участники</a>
      </li>
      <li class="g-breadcrumbs__item">
        <a class="g-breadcrumbs__link">Sudoma</a>
      </li>
    </ul>
    <div class="main-item">
      <div class="main-item__left">
        <h2 data-da=".main-item, 1024, last" class="g-title g-title--lg main-item__title">Лесопромышленный комплекс <span>Sudoma</span></h2>
        <div class="main-item__desc">
          <p>«Лесозавод «Судома» – крупнейший в России и Восточной Европе производитель термомодифицированных пиломатериалов с сертифицированной FSC цепочкой поставок*.</p>
          <p>* License Code: FSC C126802</p>
          <p>Лесозавод «Судома» – ориентированное на экспорт предприятие по производству термомодифицированных, импрегнированных, строганых и брашированных пиломатериалов для строительной и мебельной отраслей. </p>
        </div>
        <a href="#" class="g-btn g-btn--fill main-item__btn">на сайт партнера</a>
      </div>
      <picture>
        <source srcset="img/shelon.avif" type="image/avif">
        <source srcset="img/shelon.webp" type="image/webp">
        <img loading="lazy" src="img/shelon.jpg" class="main-item__image" width="720" height="500" alt="Лесопромышленный комплекс SHELON">
      </picture>
    </div>
    <div class="main-item main-item--reverse">
      <picture>
        <source srcset="img/factory.avif" type="image/avif">
        <source srcset="img/factory.webp" type="image/webp">
        <img loading="lazy" src="img/factory.jpg" class="main-item__image" width="720" height="500" alt="Лесопромышленный комплекс SHELON">
      </picture>
      <div class="main-item__left">
        <h2 data-da=".main-item, 1024, first" class="g-title g-title--lg main-item__title">Собственный завод по лесопилению</h2>
        <div class="main-item__desc">
          <p>Мощность завода по лесопилению — около 150 000 м3 в год. На экспорт поставляется более 90 % продукции.</p>
          <p>«Судома» — ключевое предприятие лесопромышленного комплекса SHELON.</p>
          <p>Основные направления деятельности лесозавода:</p>
        </div>
        <ul class="list-reset main-list">
          <li class="main-list__item">
            изготовление продукции из березы.
          </li>
          <li class="main-list__item">
            изготовление продукции из березы.
          </li>
          <li class="main-list__item">
            изготовление продукции из березы.
          </li>
          <li class="main-list__item">
            изготовление продукции из березы.
          </li>
          <li class="main-list__item">
            изготовление продукции из березы.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>