<section class="values-section">
  @include('./lines.html')
  <div class="container values-section__container">
    <h2 class="g-title g-title--lg values-section__title">Ценности</h2>
    <div class="values-section__body">
      <p class="values-section__desc">Создаем дополнительную ценность для клиентов, соблюдая стандарты, сроки и требования по качеству </p>
      <ul class="list-reset values-section__list">
        <li class="values-section__item values-item">
          <svg class="values-item__icon">
            <use xlink:href="img/sprite.svg#benefit-5"></use>
          </svg>
          <div class="values-item__right">
            <h3 class="g-title g-title--sm values-item__title">Забота об окружающей среде и безопасность человека</h3>
            <div class="values-item__desc">
              <p>Гарантируем ответственную лесозаготовку и восстановление природных ресурсов
                Обеспечиваем бережливое лесопользование и вносим вклад в повышение качества лесов
                Развиваем безотходное высокотехнологичное производство
                Отслеживаем опасные факторы и устраняем их
                Не принимаем решения в ущерб безопасности</p>
            </div>
          </div>
        </li>
        <li class="values-section__item values-item">
          <svg class="values-item__icon">
            <use xlink:href="img/sprite.svg#benefit-11"></use>
          </svg>
          <div class="values-item__right">
            <h3 class="g-title g-title--sm values-item__title">Ориентированность на клиентов</h3>
            <div class="values-item__desc">
              <p>Развиваемся, создавая продукт высокой степени переработки, с большой добавленной стоимостью
                Развиваемся, согласовывая свои интересы с интересами партнеров и общества
                Развиваемся, формируя высокопрофессиональную команду единомышленников, объединенных общими целями</p>
            </div>
          </div>
        </li>
        <li class="values-section__item values-item">
          <svg class="values-item__icon">
            <use xlink:href="img/sprite.svg#benefit-6"></use>
          </svg>
          <div class="values-item__right">
            <h3 class="g-title g-title--sm values-item__title">Устойчивое развитие</h3>
            <div class="values-item__desc">
              <p>Развиваемся, создавая продукт высокой степени переработки, с большой добавленной стоимостью
                Развиваемся, согласовывая свои интересы с интересами партнеров и общества
                Развиваемся, формируя высокопрофессиональную команду единомышленников, объединенных общими целями</p>
            </div>
          </div>
        </li>
        <li class="values-section__item values-item">
          <svg class="values-item__icon">
            <use xlink:href="img/sprite.svg#benefit-12"></use>
          </svg>
          <div class="values-item__right">
            <h3 class="g-title g-title--sm values-item__title">Командная работа</h3>
            <div class="values-item__desc">
              <p>Мы верим, что каждый член команды понимает миссию и разделяет ценности бизнеса
                Мы приветствуем активный обмен опытом, знаниями и информацией внутри команды
                Мы создаем условия, при которых каждый сотрудник может вносить свой вклад в открытое обсуждение текущих вопросов, создание благоприятной рабочей атмосферы, вдохновляя коллег и подчиненных</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>