// colors
:root {
  // base
  --font-family: "Roboto", sans-serif;
  --content-width: 1440px;
  --container-offset: 20px;
  --min-width: 320px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --color-white: #fff;
  --color-black: #000;
  --color-red: #f00;
  --color-text: #242424;
  --color-main: #1f993f;
  --color-main-dark: #1a803f;
  --plyr-color-main: var(--color-main);
  --color-alabaster: #fafafa;
  --color-gray: #999;
}